/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/signin/signin.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.buttonlogin {
    background-color: black;
    color: white;
    font-size: 20px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/signin.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.signin_pageContainer__PyU0Z {
  margin: 4rem 0 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 1000ms ease-out;
}
.signin_pageContainer__PyU0Z h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.signin_form__LMnUf {
  display: block;
  width: 100%;
  max-width: 450px;
  margin-top: 2rem;
  padding: 2rem 1.5rem;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: rgba(192, 202, 211, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
}
.signin_form__LMnUf p {
  font-size: 1rem;
}
.signin_form__LMnUf input {
  display: block;
  width: 100%;
  margin-top: 0.7rem;
  font-size: 1.1rem;
  padding: 1.5rem 1rem;
}
.signin_form__LMnUf button {
  margin-top: 1.2rem;
  width: 100%;
}

.signin_buttonContainer__eq756 {
  padding-right: 2rem;
  margin-left: auto;
  order: -1;
}

.signin_spinner__fzhBp {
  animation: signin_loading__q7CiG 700ms linear infinite;
  margin: 0 0.5rem;
}

@keyframes signin_loading__q7CiG {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
