* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

.wallet-logo {
    color: orangered;
}

.wallet-logo {
    padding-top: 40px;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wallet-container {
    background-color: #191c23;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.wallet-container-header {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 16px 26px;
    position: relative;
}

.wallet-network-logo {
    width: 24px;
    height: 24px;
    border-radius: 50px;
}

.wallet-network {
    background-color: black;
    padding:  6px 12px;
    border-radius: 20px;
}

.wallet-network-name {
    padding: 0 6px;
    font-size: 14px;
}

.wallet-network-icon-select {
    font-size: 10px;
}

.wallet-account {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.wallet-account-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.wallet-account-name {
    padding: 0 10px;
}

.wallet-container-coin {
    text-align: center;
    margin-top: 26px;
}

.wallet-coin-address {
    display: inline-flex;
    justify-content: center;
    color: orangered;
    background-color: rgb(66, 45, 36);
    padding: 6px 16px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.wallet-coin-address-text {
    padding-right: 6px;
}

.wallet-coin-balance {
    font-size: 36px;
    margin-bottom: 30px;
}

.wallet-coin-option {
    display: inline-flex;
    margin-bottom: 30px;
}

.wallet-coin-option-item {
    width: 80px;
    flex-direction: column !important;
}

.wallet-coin-option-button {
    margin-bottom: 10px;
    background-color: orangered;
    width: 42px;
    height: 42px;
    border-radius: 42px;
    justify-content: center !important;
}

.wallet-coin-option-button-send {
    transform: rotate(45deg);
}

.wallet-coin-option-button-disabled {
    opacity: 0.5;
}

.wallet-activity-header {
    padding: 0 12px;
    margin-bottom: 20px;
}

.wallet-activity-header-option {
    width: 33.33333%;
    padding-bottom: 10px;
}

.wallet-activity-header-option-active {
    border-bottom: 2px solid orangered;
}

.wallet-token-item {
    display: flex;
    padding: 16px 12px;
}

.wallet-token-item:hover {
    background-color: rgb(90, 50, 36);
}

.wallet-token-item-logo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 12px;
}

.wallet-token-item-balance {
    text-align: start;
}

.wallet-token-item-name {
    font-weight: bold;
    padding-bottom: 6px;
}

.wallet-activity-body-method {
    margin-top: 40px;
    color: orangered;
    text-align: start;
    padding: 0 12px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 160px;
}

.wallet-activity-body-method i {
    margin-right: 4px;
}

.wallet-activity-import-token {
    margin-bottom: 20px;
}

.wallet-token-item-nft {
    padding: 16px 12px;
}

.wallet-token-item-balance-nft {
    justify-content: start;
    margin-bottom: 12px;
}

.wallet-token-item-logo-nft {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 12px;
}

.wallet-token-item-nft-body {
    flex-wrap: wrap;
    justify-content: start;
}

.wallet-token-item-nft-item {
    width: 15%;
    border-radius: 10px;
    margin-bottom: 12px;
    margin-right: 12px;
}

.wallet-token-item-activity-day {
    text-align: start;
    font-size: 18px;
}

.wallet-token-item-activity {
    padding: 0 12px;
    margin-bottom: 16px;
}

.wallet-token-item-activity-body-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.wallet-token-item-activity-body-details {
    flex: 1;
}

.wallet-token-item-activity-icon {
    color: orangered;
    transform: rotate(45deg);
    font-size: 24px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: rgb(66, 45, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.wallet-token-item-activity-body-details-status-confirmed {
    color: green;
    text-align: start;
}

.wallet-token-item-activity-body-details-status-pending {
    color: yellowgreen;
    text-align: start;
}

.wallet-token-item-activity-body-details-status-failed {
    color: crimson;
    text-align: start;
}