.nft-detail-container {
    position: relative;
    padding: 0 32px;
    padding-top: 30px;
    text-align: start;
    padding-bottom: 100px;
}

.nft-detail-contract {
    justify-content: start;
}

.wallet-account {
    font-weight: bold;
    font-size: 18.72px;
}

.nft-detail-close {
    position: absolute;
    top: 10px;
    right: 22px;
    transform: scale(1.5);
}

.nft-detail-contract-title {
    margin-right: 16px;
}

.nft-detail-image {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nft-detail-tokenid {
    color: #969696;
    font-size: 20px;
}

.nft-detail-send {
    padding: 16px 30px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: orangered;
    border: none;
    border-radius: 36px;
    margin-top: 20px;
}

.nft-detail-send-effect {
    background-color: black;
    color: orangered;
    border-radius: 40px;
    border: 1px solid orangered;
    display: inline-block;
    padding: 12px 26px;
    margin-top: 30px;
}

